**/MetaData
**/Saved
**/Resources
**/Publish
/Mods/AddHiddenMissions
/Mods/braidy08custombosses
/Mods/braidy08debugmenu
/Mods/braidy08sickassgun
/Mods/JukeboxMod/Content/Tracks/BasegameTracks/DontPutInGit
